@use 'reset';
@use 'variables';
@use 'sass:math';

@mixin sticky($pos: sticky, $top: 0, $start: 0){
    position: $pos;
    top: $top;
    left: $start;
}

@mixin list-and-menus($color: variables.$secondary-color){
    color: variables.$secondary-color;
    text-align: center;
    text-decoration: none;
}

@mixin grid-template($grid-template-columns: repeat(3, 32.66%), $col-gap: 1%, $row-gap: 4% ){
    display: grid;
    grid-template-columns: $grid-template-columns;
    column-gap: $col-gap;
    row-gap: $row-gap;
    width: 100%;
}

@function pixel-to-em($pixel, $st-font-size: 16px){
    @return math.div($pixel, $st-font-size) + em;
}

$product-btn: 8px;

body {
    background-color: variables.$body-bg-color;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variables.$header-bg-color;
    @include sticky();
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: pixel-to-em(16px) 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: pixel-to-em(24px);
    }    

    li a {
        @include list-and-menus();
    }
}

section {
    padding: 56px 0;
}

.products {
    margin-top: pixel-to-em(40px);
    @include grid-template();

    img {
        width: 100%;
        border-radius: calc($product-btn*2);
    }
}

.product-button {
    @include list-and-menus();
    
    display: block;
    background-color: variables.$button-bg-color;
    padding: $product-btn 0;
    border-radius: $product-btn;
    margin-top: $product-btn;

    &:hover {
        background-color: variables.$button-lgt-color;
    }
}

@media screen and (max-width: variables.$tablet)  {
    .container {
        max-width: 80%;
    }

    .products {
        @include grid-template(repeat(2, 48.5%), 3%);
    }
}

@media screen and (max-width: variables.$mobile) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}